<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.eclipsemonkey.dom">
      <dom
            class="org.eclipse.eclipsemonkeydom.WorkspaceDOMFactory"
            variableName="workspace"/>
      <dom
            class="org.eclipse.eclipsemonkeydom.resources.ResourcesDOMFactory"
            variableName="resources"/>
   </extension>

 </plugin>
