<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.eclipsemonkey.dom">
      <dom
            class="org.eclipse.dash.domifier.DomifierDOMFactory"
            variableName="domifier"/>
      <dom
            class="org.eclipse.dash.dom.project.ProjectDOMFactory"
            variableName="project"/>
   </extension>

</plugin>
